
  
  <table mat-table [dataSource]="dataList" multiTemplateDataRows>



    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef> operation</th>
      <td mat-cell *matCellDef="let element"> {{element.operation}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>


    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="subCategory">
      <th mat-header-cell *matHeaderCellDef> subCategory </th>
      <td mat-cell *matCellDef="let element"> {{element.subCategory}} </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
  <ng-container matColumnDef="displayed">
  <th mat-header-cell *matHeaderCellDef> displayed </th>
  <td mat-cell *matCellDef="let element"> {{element.displayed}} </td>
</ng-container>

<ng-container matColumnDef="suspended">
  <th mat-header-cell *matHeaderCellDef> suspended </th>
  <td mat-cell *matCellDef="let element"> {{element.suspended}} </td>
</ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let element">
          <a mat-button href="javascript:void()" (click)="element['isExpanded'] = !element.isExpanded" >View markets</a>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedcolumnsList;"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedcolumnsList;"></tr>




        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedcolumnsList.length">

            <div class="row element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
              <table mat-table [dataSource]="element.market" multiTemplateDataRows>>
                  <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef> operation</th>
                    <td mat-cell *matCellDef="let markt"> {{markt.operation}} </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> type </th>
                    <td mat-cell *matCellDef="let markt"> {{markt.type}} </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> name </th>
                    <td mat-cell *matCellDef="let markt"> {{markt.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="displayed">
                    <th mat-header-cell *matHeaderCellDef> displayed </th>
                    <td mat-cell *matCellDef="let markt"> {{markt.displayed}} </td>
                  </ng-container>
                  <ng-container matColumnDef="suspended">
                    <th mat-header-cell *matHeaderCellDef> suspended </th>
                    <td mat-cell *matCellDef="let markt"> {{markt.suspended}} </td>
                  </ng-container>

                  <ng-container matColumnDef="mactions">
                    <th mat-header-cell *matHeaderCellDef> actions </th>
                      <td mat-cell *matCellDef="let markt">
                        <a mat-button href="javascript:void()" (click)="markt['isExpanded'] = !markt.isExpanded" >View outcome</a>
                      </td>
                    </ng-container>

                  <tr mat-header-row *matHeaderRowDef="marketColList;"></tr>
                <tr mat-row *matRowDef="let element; columns: marketColList;"></tr>
<!-- outcome table -->
                          <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let markt" [attr.colspan]="displayedcolumnsList.length">
                  
                              <div class="row element-detail" [@detailExpand]="markt.isExpanded ? 'expanded' : 'collapsed'">
                                <table mat-table [dataSource]="markt.outcome" multiTemplateDataRows>
                                    <ng-container matColumnDef="operation">
                                      <th mat-header-cell *matHeaderCellDef> operation</th>
                                      <td mat-cell *matCellDef="let out"> {{out.operation}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="type">
                                      <th mat-header-cell *matHeaderCellDef> type </th>
                                      <td mat-cell *matCellDef="let out"> {{out.type}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                      <th mat-header-cell *matHeaderCellDef> name </th>
                                      <td mat-cell *matCellDef="let out"> {{out.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="price">
                                      <th mat-header-cell *matHeaderCellDef> price </th>
                                      <td mat-cell *matCellDef="let out"> {{out.price}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="displayed">
                                      <th mat-header-cell *matHeaderCellDef> displayed </th>
                                      <td mat-cell *matCellDef="let out"> {{out.displayed}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="suspended">
                                      <th mat-header-cell *matHeaderCellDef> suspended </th>
                                      <td mat-cell *matCellDef="let out"> {{out.suspended}} </td>
                                    </ng-container>
        
                                   
                                    <tr mat-header-row *matHeaderRowDef="outColList;"></tr>
                                  <tr mat-row *matRowDef="let element; columns: outColList;"></tr>
                  
                                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                                    
                                      
                              </table>
                              </div>
                  
                            </td>
                          </ng-container>

                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                  
                    
                </table>
            </div>

          </td>
        </ng-container>


    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row">

     
    </tr>

  </table>